parameters:
    level: 1
    tmpDir: .cache
    paths:
        - src
    excludePaths:
        analyse:
            - src/Excluded
            - src/Optional
        analyseAndScan:
            - src/Ignored
